* {
	box-sizing: border-box;
}
body {
	font-family: fantasy, serif;
}
h1 {
	text-align: center;
	font-size: 1.75em;
	margin:10px;
	padding: 10px;
}

section {
	background-color: grey;
	position: relative;
	border: 1px solid black;
	margin: 10px;
	 
}

section p{
	font-size: 1.25em;
	text-align: center;
	border: 1px solid black;
	width: 150px;
	float: right ;
	margin: 0;
}

#p1 {
	background-color: red;
}
#p2 {
	background-color: yellow;
}
#p3 {
	background-color: orange;
}


section article {
	padding: 10px;
	clear: right; 
}


.row {
	width: 100%;
}

@media (min-width: 992px) {
	.col-lg-4 {
		float: left;
		width: 33.33%;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.col-md-6 {
		float: left;
		width: 50%;
	}

	.col-md-12{
		float: left;
		width: 100%;
	}
}
